@model binbash.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container-fluid">
    <div class="col-sm-6 col-centered">
        <div class="card card-pad mdc-bg-grey-900 mdc-text-grey-50">
            <div class="card-heading">
                User Info
            </div>
            <div class="card-body">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Email</h4>
                        @Model.User.Email
                    </div>
                    <div class="col-sm-6">
                        <h4>Password</h4>
                        @if(Model.HasPassword) {
                            @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class = "btn btn-primary" })
                        } else {
                            @Html.ActionLink("Create", "SetPassword", "Manage", null, new { @class = "btn btn-primary" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
