@model IEnumerable<binbash.Models.Product>
@{
    ViewBag.Title = "Cart Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h2>
            <small>$ node </small><br />
            Checkout
        </h2>

        <hr />
        <h4>&lt;Payment-Gateway data-provider="paypal"&gt;&lt;/Payment-Gateway&gt;</h4>
        @Html.ActionLink("Continue", "Complete", "Cart", null, new { @class = "btn btn-primary pull-right" })
    </div>
</div>

