@{
    ViewBag.Title = "Complete";
}

<div class="card">
    <div class="card-body">
        <h2>
            <small>exit code 0</small><br />
            Your purchase has been completed.
        </h2>
    </div>
</div>

