html {
    min-height: 100%;
    font-family: Ubuntu;
}

body {
    position: absolute;
    min-height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.product-list {
    display: inherit;
}

.no-list{
    list-style:none;
    padding:0;
}

.null-container {
    min-height: 100%;
}

.img-brand {
    max-width: 150px !important;
}

.navbar-brand {
    padding-top: 5px !important;
}

.img-controller {
    background-size: contain;
    min-height: 170px;
}

.img-thumbnail {
    margin-bottom: 10px;
}

.footer-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    clear: both;
}

.footer-bottom p {
    margin: 15px;
}

pre {
    border: none;
}

.card {
  margin-top: 15px;
}

.card-pad {
    margin-top: 60px;
}

.fixed-card {
    min-height: 543px;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.pad {
    padding-left: 15px;
    padding-right: 15px;
}

.pad-top {
    margin-top: 15px;
}

.no-border {
    border: none;
}

.fixed-bottom-15 {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.btn {
    border-color: transparent !important;
}

.btn-fab {
    padding: 13px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.product-card {
    position: relative;
    margin: 10px;
}

.product-card h3 {
    height: 3em;
}

.product-img {
    display:flex;
    justify-content:center;
    align-items:center;
    height:350px;
}

.product-detail-img {
    max-width:340px;
}
.product-quantity {
    padding-top: 15px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.list-group .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.panel {
    margin-bottom: 3rem;
}

.card .card-heading {
    background-color: #009688;
    color: rgba(255, 255, 255, 0.84);
    border: 0;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.btn.btn-default {
    background-color: #F5F5F5 !important;
}

.credit-cardIcon {
    max-width:100px;
}

img.login-logo {
    padding: 35px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.cart-totals {
    font-size: 20px;
}

.dl-horizontal.cart-totals dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal.cart-totals dd {
    margin-left: 180px;
    text-align: right;
}
.dl-horizontal.cart-totals dd:before,
.dl-horizontal.cart-totals dd:after {
    display: table;
    content: " ";
}
.dl-horizontal.cart-totals dd:after {
    clear: both;
}
.dl-horizontal.cart-totals dd:before,
.dl-horizontal.cart-totals dd:after {
    display: table;
    content: " ";
}
.dl-horizontal.cart-totals dd:after {
    clear: both;
}



.cart-item .item-title {
    font-size: 20px;
    font-weight: bold;
}

.cart-item .card-body {
    padding-bottom: 0;
}
