<link href="~/Content/aboutUs.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Welcome to bin/bash, your one stop spot for your nerdy needs. We specialize in the sale of novelty and other nerdy goods.
    Currently we are only a team of five but we are focused on delivering the best nerdy goods. We are proud nerds and geeks ourselves
    so we don't just talk the talk, but we walk the walk. 
</p>
<h3>The Team</h3>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>Stephen Wiggins</h4>
            <h4 class="text-right">-aka BOSS Bacon</h4>
            <img src="~/Content/Images/bacon.jpg" class="imgDisplay" />
            <p>
                Stephen Wiggins is the Boss Bacon. He calls all the shots inside the office. Why is he Boss Bacon? Because he's the <strong>BOSS</strong> and everything
                is better with Bacon. Stephen Wiggins is a master at the server side of web applications and rules his area of experties like a Boss. He handles the
                day to day operations as well as helps keep this site running. His work allows you to place orders, and see what it is we have in stock. He is the
                one that ultimately makes the decision of what we sell and for how much. Make no mistake, Wiggins may be the <strong>BOSS</strong> Bacon but when the chips
                are down and things need to get done, you'll find him with the rest of the team down in the trenches.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>Stephen Wilson</h4>
            <h4 class="text-right">-aka Jensen</h4>
            <img src="~/Content/Images/adamJensen.jpg" class="imgDisplay" />
            <p>
                Stephen Wilson aka Jensen is a security guru. Dispite his skills, he has said that, <strong>&quot;<i>I never asked for this.</i>&quot;</strong>
                He keeps all of your data safe and secure. Pro tip, do not try and test him, bad things tend to happen.
                Wilson is a veratble one man army in data security. He is in charge of the security on this site and some belive he has helped wire up the security
                in the office. Wilson takes the security game to new heights and is always on top of the ever changing environments. Calm cool and collected Wilson
                is every bit as determined as Jensen ever was. Even without the cybernetic implants and black coat Wilson is just as awesome.
            </p>
        </div>
        <div class="clearfix visible-sm"></div>

        <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>Jean-Luc Desroches</h4>
            <h4 class="text-right">-aka Alpha Deamon</h4>
            <img src="~/Content/Images/2b4476de0577e2d541ca07d76612f376.jpg" class="imgDisplay" />
            <p>
                Jean-Luc Desroches is our inhouse designer. Product placement, web layout and all of the glamour on the site comes from the mind of our resident Alpha
                Deamon. A deamon is a belevolent nature spirit. We aren't too sure about the nature aspect but there is no mistaking his creativity and spirit esque personality.
                He keeps the site looking fresh and tries to keep the user experience the best possible for everyone out there. Not only does our resident Deamon
                keep the site up and running, he is a key full stack developer. He truely is a belevolent spirit.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>Sam Welsh</h4>
            <h4 class="text-right">-aka Phalanx</h4>
            <img src="~/Content/Images/Akroan-Phalanx.jpg" class="imgDisplay" />
            <p>
                Phanlax is an old Greek military formation. One that was depended on teamwork, dedication, training and absolute faith. Sam embodies these aspects well.
                When things need to get done, Sam is dedicated in completing the task as best as he is able. He is also someone that places his faith in the team and
                holds us all to a higher standard. He is the man to ensure your shopping transactions are accurate and functioning smoothly. While still quite young Sam
                is a reliable, dedicated member of our team that we all can rely on and respect.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="display-block">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Kevin Kan</h4>
                <h4 class="text-right">-aka The Forgoten Nin</h4>
                <img src="~/Content/Images/ninja_sketch.jpg" class="imgDisplay" />
                <p>
                    Whether thru government conspiracy, his ninja training, government conspiracy about ninjas or a combination of everything, Kevin is often forgotten until
                    a bug must die. Forgotton or not Kevin is a full stack developer that has a nack for fixing things on the fly. He quickly changes what needs to be changed,
                    trying to make as little noise or waves as possible. Dispite the fact his is often forgotten, his work is not. Kevin works diligently to keep things running
                    silently and seemlessly.
                </p>
            </div>
        </div>
    </div>
</div>
