
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to bin/bash, your one stop spot for your nerdy needs. We specialize in the sale of novelty and other nerdy goods.
    Currently we are only a team of four but are focused on delivering the best nerdy goods
</p>
<h3>The Team</h3>
<div class="container">
    <div class="col-lg-6 col-sm-12">
        <h4>Stephen Wiggins</h4>
        <img src=" http://lorempixel.com/300/300/technics ">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt faucibus eros, ut semper quam aliquet sed.
            Donec fermentum hendrerit sapien vulputate molestie. Duis a sagittis elit. Donec malesuada mollis felis, sed facilisis nibh consequat ut.
            Aliquam dignissim ultricies neque, et hendrerit urna condimentum quis. Nam eget lacus consequat leo dignissim efficitur in sit amet purus.
            Cras sit amet tellus feugiat justo laoreet sodales. Integer vulputate dui quis magna pulvinar, vitae pharetra urna dapibus.
            Aenean imperdiet diam scelerisque sapien commodo auctor malesuada fringilla massa. Praesent vehicula ex non leo suscipit, sed aliquet velit molestie.
            Cras nec interdum lorem. Curabitur malesuada neque mauris, vitae eleifend eros consequat dictum.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h4>Stephen Wilson</h4>
        <img src=" http://placecage.com/300/300">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt faucibus eros, ut semper quam aliquet sed.
            Donec fermentum hendrerit sapien vulputate molestie. Duis a sagittis elit. Donec malesuada mollis felis, sed facilisis nibh consequat ut.
            Aliquam dignissim ultricies neque, et hendrerit urna condimentum quis. Nam eget lacus consequat leo dignissim efficitur in sit amet purus.
            Cras sit amet tellus feugiat justo laoreet sodales. Integer vulputate dui quis magna pulvinar, vitae pharetra urna dapibus.
            Aenean imperdiet diam scelerisque sapien commodo auctor malesuada fringilla massa. Praesent vehicula ex non leo suscipit, sed aliquet velit molestie.
            Cras nec interdum lorem. Curabitur malesuada neque mauris, vitae eleifend eros consequat dictum.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h4>Jean-Luc Desroches</h4>
        <img src="  http://fillmurray.com/300/300 ">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt faucibus eros, ut semper quam aliquet sed.
            Donec fermentum hendrerit sapien vulputate molestie. Duis a sagittis elit. Donec malesuada mollis felis, sed facilisis nibh consequat ut.
            Aliquam dignissim ultricies neque, et hendrerit urna condimentum quis. Nam eget lacus consequat leo dignissim efficitur in sit amet purus.
            Cras sit amet tellus feugiat justo laoreet sodales. Integer vulputate dui quis magna pulvinar, vitae pharetra urna dapibus.
            Aenean imperdiet diam scelerisque sapien commodo auctor malesuada fringilla massa. Praesent vehicula ex non leo suscipit, sed aliquet velit molestie.
            Cras nec interdum lorem. Curabitur malesuada neque mauris, vitae eleifend eros consequat dictum.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12">
        <h4>Kevin Kan</h4>
        <img src=" http://lorempixel.com/300/300/technics ">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt faucibus eros, ut semper quam aliquet sed.
            Donec fermentum hendrerit sapien vulputate molestie. Duis a sagittis elit. Donec malesuada mollis felis, sed facilisis nibh consequat ut.
            Aliquam dignissim ultricies neque, et hendrerit urna condimentum quis. Nam eget lacus consequat leo dignissim efficitur in sit amet purus.
            Cras sit amet tellus feugiat justo laoreet sodales. Integer vulputate dui quis magna pulvinar, vitae pharetra urna dapibus.
            Aenean imperdiet diam scelerisque sapien commodo auctor malesuada fringilla massa. Praesent vehicula ex non leo suscipit, sed aliquet velit molestie.
            Cras nec interdum lorem. Curabitur malesuada neque mauris, vitae eleifend eros consequat dictum.
        </p>
    </div>
</div>
