<link href="~/Content/Styles/contact.css" rel="stylesheet" />
<div class="col-sm-10 col-sm-offset-1">
    <div class="card card-pad mdc-bg-grey-900 mdc-text-grey-50">
        <div class="card-body">
            <h2>@ViewBag.Title</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary pad-top">
                        <div class="panel-heading">
                            <h3 class="panel-title">@ViewBag.Message</h3>
                        </div>
                        <div class="panel-body mdc-text-grey-900">
                            <p>
                                Want a live person to talk to, we can do that. Sorry but we are still working hiring vampires, zombies and robots. Their unions are just killer. Still our
                                resident ninja and BOSS Bacon would be happy to talk to you about what you neeed. If you would like to meet in person or through courier or even tv dead
                                drop, our locaiton is listed below.
                            </p>
                            <address>
                                1 Georgian Drive<br />
                                Barrie, ON L4M 4H8<br />
                                <abbr title="Phone">P:</abbr>
                                (705) 728-1968
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary pad-top">
                        <div class="panel-heading">
                            <h3 class="panel-title">Send an Email</h3>
                        </div>
                        <div class="panel-body  mdc-text-grey-900">
                            <div class="row">
                                <img src="../../Content/Images/ninja_sketch.jpg" alt="Profile Picture Kevin" class="imgDisplay" />
                                <p>Get in touch with our support ninja. Go on, take out a contract on some lowlife bug.</p>
                                <address>
                                    <strong>Support Ninja:</strong>   <a href="mailto:intrepidhonor@gmail.com">intrepidhonor@gmail.com</a><br />
                                </address>
                            </div>
                            <div class="row">
                                <img src="../../Content/Images/2b4476de0577e2d541ca07d76612f376.jpg" alt="Profile Picture Jean-Luc" class="imgDisplay" />
                                <p>Have questions about the products or your account. Then our friendly Alpha Deamon is ready to help.</p>
                                <address>
                                    <strong>Sales Deamon:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>