<link href="~/Content/Styles/Landing.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron landingMain-bg">
    <div class="leadParagraph">
        <h1 class="comp-text">Hello World!</h1>
        <p class="comp-text">Bringing back more then just fond memories. Welcome to bin bash, suppliers of all things leet, geek and nerdy.</p>
    </div>
    <div class="endParagraph">
        <p class="comp-text pull-right text-right bottom-right-align">Where all your base are belong to us and we like it that way.</p>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <h2>The Goods</h2>
                <img src="../../Content/Images/zeldaWoodchest.jpg" alt="Wood Chest" class="imgDisplay" />
                <p>
                    We got the goods. We carry items of all kinds. Go on and embrace the 1337 swag. We are sure that this will be a second 127.0.0.1 for all you nerds and geeks.
                    Step up your day and your life with our gear. Become your own hero with the items in our store.
                </p>
                @Html.ActionLink("Go to Products", "Index", "Products", null, new { @class="btn btn-primary btn-lg pull-right" })'
            </div>
        </div>
    </div>
</div>